DOMAIN_NAME=domain.com
CONTAINERS_SUBNET=172.16.0.0
TIMEZONE=America/Sao_Paulo

# Traefik
CT_TRAEFIK=traefik
CT_TRAEFIK_IP=172.16.0.2
TRAEFIK_VERSION=v3.6

# Pi-Hole
CT_PIHOLE=pihole
CT_PIHOLE_VERSION=2024.07.0
CT_PIHOLE_IP=172.16.0.3

# Unbound
CT_UNBOUND_IP=172.16.0.4
CT_UNBOUND_PORT=5053

# Portainer
CT_PORTAINER=portainer
CT_PORTAINER_IP=172.16.0.5
PORTAINER_PORT_HTTP=9000